<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ID</title>
    <link rel="stylesheet" href="../static/hf.css" />
</head>
<body>
    <form action="/delfirmservice" method="POST">
        <p>
            ID firm:
            <input type="text" name="id_edit_del_firm" value="0" width="60">
        </p>
        <p>
            ID service:
            <input type="text" name="id_edit_del_service" value="0" width="60">
        </p>
        <input type="submit" value="DELETE">
    </form>
</body>
</html>