{% extends "base.html" %}

{% block body %}

    <a class="underlined" href="firm">Фирмы</a> |
    <a class="underlined" href="firmservice">Услуги фирм</a> |
    <a class="underlined" href="regions">Регионы</a>

    <h2>{{ the_title }}</h2>

    <table>
        <tr>
            {% for row_title in row_titles %}
                <th>{{ row_title }}</th>
            {% endfor %}
        </tr>
        {% for log_row in the_data %}
            <tr>
                {% for item in log_row %}
                    <td>{{ item }}</td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>

    <a href="addservices" target="_blank">
        <input value="Добавить" type="SUBMIT">
    </a>

    <a href="editservice" target="_blank">
        <input value="Редактировать" type="SUBMIT">
    </a>

    <a href="/chooseidservice" target="_blank">
        <input value="Удалить" type="SUBMIT">
    </a>

    <br><br><br>
    <a href="main" target="_self">
        <input value="На главную" type="SUBMIT">
    </a>

{% endblock %}